# **Classification Task : Random Forest Model to Classify Toddler Nutrition**

## **Setup Configuration**

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.7.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (669 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 669.1/669.1 kB 5.9 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 7.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.7.3

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=33939067bbe2209d0ae1992fc4b44ec0c9637dba347fb7715f75341175bc453c
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

## **Connect To Database(MongoDB)**

In [ ]:
import pandas as pd
from typing import Collection
from pymongo import MongoClient

In [ ]:
client = MongoClient('mongodb+srv://gizidata:gizi1234@datagizi.y8mcsbs.mongodb.net/?retryWrites=true&w=majority&appName=datagizi')

db = client['gizi']
Collection = db['data_gizi']

In [ ]:
 data = pd.DataFrame(list(Collection.find()))

In [ ]:
data

,_id,JK,Usia Saat Ukur (Bulan),Berat (Kg),Tinggi (cm),Status Gizi
0,66703b585ffa369f5c04fb75,P,32,12.6,99.0,Normal
1,66703b585ffa369f5c04fb76,L,28,14.0,103.0,Normal
2,66703b585ffa369f5c04fb77,P,42,13.0,98.0,Normal
3,66703b585ffa369f5c04fb78,L,37,12.6,92.0,Normal
4,66703b585ffa369f5c04fb79,L,15,11.0,89.0,Normal
...,...,...,...,...,...,...
2514,66703b595ffa369f5c050547,L,0,3.4,50.0,Normal
2515,66703b595ffa369f5c050548,L,0,3.2,51.0,Normal
2516,66703b595ffa369f5c050549,P,0,2.8,50.0,Gizi Kurang
2517,66703b595ffa369f5c05054a,L,0,3.5,52.0,Normal
2518,66703b595ffa369f5c05054b,L,0,2.9,50.0,Normal

In [ ]:
data['_id'] = data['_id'].astype(str)

## **Connecting to PySpark**

In [ ]:
import pyspark
import matplotlib.pyplot as plt
from pyspark.sql.functions import isnull
from pyspark.sql.functions import col,isnan, when, count
from pyspark.ml.stat import Correlation
from pyspark.ml.feature import StringIndexer
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [ ]:
spark = SparkSession.builder.appName('Big Data').getOrCreate()

In [ ]:
df = spark.createDataFrame(data)
df.show(3)

+--------------------+---+----------------------+----------+-----------+-----------+
|                 _id| JK|Usia Saat Ukur (Bulan)|Berat (Kg)|Tinggi (cm)|Status Gizi|
+--------------------+---+----------------------+----------+-----------+-----------+
|66703b585ffa369f5...|  P|                    32|      12.6|       99.0|     Normal|
|66703b585ffa369f5...|  L|                    28|      14.0|      103.0|     Normal|
|66703b585ffa369f5...|  P|                    42|      13.0|       98.0|     Normal|
+--------------------+---+----------------------+----------+-----------+-----------+
only showing top 3 rows

## **Data Preprocessing**

In [ ]:
df.printSchema()

root
 |-- _id: string (nullable = true)
 |-- JK: string (nullable = true)
 |-- Usia Saat Ukur (Bulan): long (nullable = true)
 |-- Berat (Kg): double (nullable = true)
 |-- Tinggi (cm): double (nullable = true)
 |-- Status Gizi: string (nullable = true)

In [ ]:
df = df.select(
    col("JK").cast("string").alias("JK"),
    col("Usia Saat Ukur (Bulan)").cast("integer").alias("Usia Saat Ukur (Bulan)"),
    col("Berat (Kg)").cast("float").alias("Berat (Kg)"),
    col("Tinggi (cm)").cast("float").alias("Tinggi (cm)"),
    col("Status Gizi").cast("string").alias("Status Gizi")
)

df.printSchema()

root
 |-- JK: string (nullable = true)
 |-- Usia Saat Ukur (Bulan): integer (nullable = true)
 |-- Berat (Kg): float (nullable = true)
 |-- Tinggi (cm): float (nullable = true)
 |-- Status Gizi: string (nullable = true)

In [ ]:
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+---+----------------------+----------+-----------+-----------+
| JK|Usia Saat Ukur (Bulan)|Berat (Kg)|Tinggi (cm)|Status Gizi|
+---+----------------------+----------+-----------+-----------+
|  0|                     0|         0|          1|          0|
+---+----------------------+----------+-----------+-----------+

In [ ]:
df = df.dropna(how= 'any', subset = ['JK', 'Usia Saat Ukur (Bulan)', 'Berat (Kg)', 'Tinggi (cm)', 'Status Gizi'] )

In [ ]:
df.show()

+---+----------------------+----------+-----------+-----------+
| JK|Usia Saat Ukur (Bulan)|Berat (Kg)|Tinggi (cm)|Status Gizi|
+---+----------------------+----------+-----------+-----------+
|  P|                    32|      12.6|       99.0|     Normal|
|  L|                    28|      14.0|      103.0|     Normal|
|  P|                    42|      13.0|       98.0|     Normal|
|  L|                    37|      12.6|       92.0|     Normal|
|  L|                    15|      11.0|       89.0|     Normal|
|  P|                    54|      14.2|      102.5|     Normal|
|  P|                    54|      16.0|      106.2|     Normal|
|  L|                    52|      14.0|      106.0|Gizi Kurang|
|  P|                    52|      15.1|      105.0|     Normal|
|  P|                    51|      13.0|      100.0|     Normal|
|  L|                    50|      15.0|      105.1|     Normal|
|  L|                    50|      13.6|      102.0|     Normal|
|  L|                    48|      16.0|      103.2|     Normal|
|  P|                    46|      13.2|       99.2|     Normal|
|  P|                    46|      15.0|      101.3|     Normal|
|  L|                    45|      14.0|      101.0|     Normal|
|  L|                    45|      15.2|      101.6|     Normal|
|  L|                    44|      12.5|       95.8|     Normal|
|  P|                    40|      11.0|       88.9|     Normal|
|  P|                    39|      14.8|       97.7|     Normal|
+---+----------------------+----------+-----------+-----------+
only showing top 20 rows

In [ ]:
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+---+----------------------+----------+-----------+-----------+
| JK|Usia Saat Ukur (Bulan)|Berat (Kg)|Tinggi (cm)|Status Gizi|
+---+----------------------+----------+-----------+-----------+
|  0|                     0|         0|          0|          0|
+---+----------------------+----------+-----------+-----------+

In [ ]:
df = df.dropDuplicates()
df.show(5)

+---+----------------------+----------+-----------+-----------+
| JK|Usia Saat Ukur (Bulan)|Berat (Kg)|Tinggi (cm)|Status Gizi|
+---+----------------------+----------+-----------+-----------+
|  L|                    54|      17.0|      107.0|     Normal|
|  P|                     7|       8.2|       68.4|     Normal|
|  P|                    38|      13.8|       96.5|     Normal|
|  L|                    17|      11.0|       82.0|     Normal|
|  L|                    13|      11.0|       80.0|     Normal|
+---+----------------------+----------+-----------+-----------+
only showing top 5 rows

## **Data Exploration**

### Data Describe

In [ ]:
df.describe().show()

+-------+----+----------------------+------------------+------------------+-------------------+
|summary|  JK|Usia Saat Ukur (Bulan)|        Berat (Kg)|       Tinggi (cm)|        Status Gizi|
+-------+----+----------------------+------------------+------------------+-------------------+
|  count|2428|                  2428|              2428|              2428|               2428|
|   mean|NULL|      31.0831960461285|11.990733121922224| 88.40214158361394|               NULL|
| stddev|NULL|     17.31505003530292|3.2468070398479814|14.096130743430532|               NULL|
|    min|   L|                     0|               2.3|              47.0|Beresiko Gizi Lebih|
|    max|   P|                    60|              24.5|             118.4|             Normal|
+-------+----+----------------------+------------------+------------------+-------------------+

### Number of Toddlers Based on Nutrition Status

In [ ]:
df_g = df.select('Status Gizi')

In [ ]:
df_g.distinct().show()

+-------------------+
|        Status Gizi|
+-------------------+
|         Gizi Buruk|
|        Gizi Kurang|
|Beresiko Gizi Lebih|
|         Gizi Lebih|
|             Normal|
+-------------------+

In [ ]:
df.filter(df['Status Gizi'] == 'Normal').count()

2160

In [ ]:
gizi_buruk = df.filter(df['Status Gizi'] == 'Gizi Buruk')
print("Jumlah Balita dengan Status Gizi Buruk :", gizi_buruk.count())
gizi_buruk.show()

Jumlah Balita dengan Status Gizi Buruk : 6
+---+----------------------+----------+-----------+-----------+
| JK|Usia Saat Ukur (Bulan)|Berat (Kg)|Tinggi (cm)|Status Gizi|
+---+----------------------+----------+-----------+-----------+
|  L|                     4|       5.5|       66.0| Gizi Buruk|
|  L|                    14|       7.8|       78.0| Gizi Buruk|
|  P|                     5|       4.5|       60.5| Gizi Buruk|
|  P|                     6|       5.6|       66.8| Gizi Buruk|
|  L|                    11|       7.5|       76.7| Gizi Buruk|
|  L|                    26|       8.8|       89.0| Gizi Buruk|
+---+----------------------+----------+-----------+-----------+

In [ ]:
gizi_kurang = df.filter(df['Status Gizi'] == 'Gizi Kurang')
print("Jumlah Balita dengan Status Gizi Kurang :", gizi_kurang.count())
gizi_kurang.show(5)

Jumlah Balita dengan Status Gizi Kurang : 154
+---+----------------------+----------+-----------+-----------+
| JK|Usia Saat Ukur (Bulan)|Berat (Kg)|Tinggi (cm)|Status Gizi|
+---+----------------------+----------+-----------+-----------+
|  L|                    31|      12.8|      100.0|Gizi Kurang|
|  L|                    45|      12.6|      100.2|Gizi Kurang|
|  P|                    24|      10.5|       92.0|Gizi Kurang|
|  L|                    59|      17.4|      118.4|Gizi Kurang|
|  P|                     4|       5.7|       64.2|Gizi Kurang|
+---+----------------------+----------+-----------+-----------+
only showing top 5 rows

In [ ]:
gizi_resiko = df.filter(df['Status Gizi'] == 'Beresiko Gizi Lebih')
print("Jumlah Balita dengan Status Resiko Gizi Lebih :", gizi_resiko.count())
gizi_resiko.show(5)

Jumlah Balita dengan Status Resiko Gizi Lebih : 96
+---+----------------------+----------+-----------+-------------------+
| JK|Usia Saat Ukur (Bulan)|Berat (Kg)|Tinggi (cm)|        Status Gizi|
+---+----------------------+----------+-----------+-------------------+
|  P|                    21|      12.0|       83.7|Beresiko Gizi Lebih|
|  L|                    42|      17.0|      100.2|Beresiko Gizi Lebih|
|  L|                    10|      10.0|       72.0|Beresiko Gizi Lebih|
|  P|                     9|       9.0|       70.0|Beresiko Gizi Lebih|
|  P|                    49|      15.0|       92.0|Beresiko Gizi Lebih|
+---+----------------------+----------+-----------+-------------------+
only showing top 5 rows

In [ ]:
gizi_lebih = df.filter(df['Status Gizi'] == 'Gizi Lebih')
print("Jumlah Balita dengan Status Gizi Lebih :", gizi_lebih.count())
gizi_lebih.show(5)

Jumlah Balita dengan Status Gizi Lebih : 12
+---+----------------------+----------+-----------+-----------+
| JK|Usia Saat Ukur (Bulan)|Berat (Kg)|Tinggi (cm)|Status Gizi|
+---+----------------------+----------+-----------+-----------+
|  L|                    34|      13.3|       82.0| Gizi Lebih|
|  P|                    38|      15.6|       90.5| Gizi Lebih|
|  P|                    47|      15.0|       88.4| Gizi Lebih|
|  P|                    13|      11.0|       74.3| Gizi Lebih|
|  P|                    15|      12.3|       77.5| Gizi Lebih|
+---+----------------------+----------+-----------+-----------+
only showing top 5 rows

In [ ]:
gizi_buruk_laki = df.filter((df['Status Gizi'] == 'Gizi Buruk')&(df['JK'] == 'L'))
print("Jumlah Balita Laki-laki dengan Status Gizi Buruk :", gizi_buruk_laki.count())
gizi_buruk_laki.show()

Jumlah Balita Laki-laki dengan Status Gizi Buruk : 4
+---+----------------------+----------+-----------+-----------+
| JK|Usia Saat Ukur (Bulan)|Berat (Kg)|Tinggi (cm)|Status Gizi|
+---+----------------------+----------+-----------+-----------+
|  L|                     4|       5.5|       66.0| Gizi Buruk|
|  L|                    14|       7.8|       78.0| Gizi Buruk|
|  L|                    11|       7.5|       76.7| Gizi Buruk|
|  L|                    26|       8.8|       89.0| Gizi Buruk|
+---+----------------------+----------+-----------+-----------+

In [ ]:
gizi_buruk_prp = df.filter((df['Status Gizi'] == 'Gizi Buruk')&(df['JK'] == 'P'))
print("Jumlah Balita Perempuan dengan Status Gizi Buruk :", gizi_buruk_prp.count())
gizi_buruk_prp.show()

Jumlah Balita Perempuan dengan Status Gizi Buruk : 2
+---+----------------------+----------+-----------+-----------+
| JK|Usia Saat Ukur (Bulan)|Berat (Kg)|Tinggi (cm)|Status Gizi|
+---+----------------------+----------+-----------+-----------+
|  P|                     5|       4.5|       60.5| Gizi Buruk|
|  P|                     6|       5.6|       66.8| Gizi Buruk|
+---+----------------------+----------+-----------+-----------+

### Groupby Exploration

In [ ]:
df.groupBy('JK').avg().show()

+---+---------------------------+------------------+-----------------+
| JK|avg(Usia Saat Ukur (Bulan))|   avg(Berat (Kg))| avg(Tinggi (cm))|
+---+---------------------------+------------------+-----------------+
|  L|          30.74862960062647|12.074393126958968|88.75254495571438|
|  P|          31.45438748913988| 11.89791485395357|88.01337954523665|
+---+---------------------------+------------------+-----------------+

In [ ]:
df.groupBy('Status Gizi').avg().show()

+-------------------+---------------------------+------------------+-----------------+
|        Status Gizi|avg(Usia Saat Ukur (Bulan))|   avg(Berat (Kg))| avg(Tinggi (cm))|
+-------------------+---------------------------+------------------+-----------------+
|         Gizi Buruk|                       11.0| 6.616666714350383|72.83333333333333|
|        Gizi Kurang|         28.935064935064936|10.103246721354397| 87.3142854764864|
|Beresiko Gizi Lebih|                   23.65625|12.039583357671896| 80.7999997138977|
|         Gizi Lebih|                       25.0|12.933333396911621|80.65000025431316|
|             Normal|          31.65601851851852|12.132824084052332|88.90388880835638|
+-------------------+---------------------------+------------------+-----------------+

### Correlation Analysis

In [ ]:
# Membuat StringIndexer
indexer1 = StringIndexer(inputCol="JK", outputCol="JK(index)")
indexer2 = StringIndexer(inputCol="Status Gizi", outputCol="Status Gizi(index)")
# Melakukan fit dan transformasi pada DataFrame
data1 = indexer1.fit(df).transform(df)
df = indexer2.fit(data1).transform(data1)
df.show()

+---+----------------------+----------+-----------+-------------------+---------+------------------+
| JK|Usia Saat Ukur (Bulan)|Berat (Kg)|Tinggi (cm)|        Status Gizi|JK(index)|Status Gizi(index)|
+---+----------------------+----------+-----------+-------------------+---------+------------------+
|  L|                    54|      17.0|      107.0|             Normal|      0.0|               0.0|
|  P|                     7|       8.2|       68.4|             Normal|      1.0|               0.0|
|  P|                    38|      13.8|       96.5|             Normal|      1.0|               0.0|
|  L|                    17|      11.0|       82.0|             Normal|      0.0|               0.0|
|  L|                    13|      11.0|       80.0|             Normal|      0.0|               0.0|
|  P|                    40|      14.3|       98.8|             Normal|      1.0|               0.0|
|  P|                    37|      14.9|       95.0|             Normal|      1.0|               0.0|
|  L|                    31|      12.8|      100.0|        Gizi Kurang|      0.0|               1.0|
|  P|                    28|      11.5|       91.2|             Normal|      1.0|               0.0|
|  P|                    18|       9.0|       78.0|             Normal|      1.0|               0.0|
|  P|                     2|       5.9|       60.0|             Normal|      1.0|               0.0|
|  P|                    47|      12.6|       94.2|             Normal|      1.0|               0.0|
|  P|                    21|      12.0|       83.7|Beresiko Gizi Lebih|      1.0|               2.0|
|  L|                    42|      17.0|      100.2|Beresiko Gizi Lebih|      0.0|               2.0|
|  L|                     2|       6.0|       61.5|             Normal|      0.0|               0.0|
|  L|                    17|      10.0|       82.2|             Normal|      0.0|               0.0|
|  L|                    29|      12.0|       87.0|             Normal|      0.0|               0.0|
|  L|                    45|      12.6|      100.2|        Gizi Kurang|      0.0|               1.0|
|  L|                    48|      15.5|      104.2|             Normal|      0.0|               0.0|
|  P|                    43|      14.7|       98.0|             Normal|      1.0|               0.0|
+---+----------------------+----------+-----------+-------------------+---------+------------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- JK: string (nullable = true)
 |-- Usia Saat Ukur (Bulan): integer (nullable = true)
 |-- Berat (Kg): float (nullable = true)
 |-- Tinggi (cm): float (nullable = true)
 |-- Status Gizi: string (nullable = true)
 |-- JK(index): double (nullable = false)
 |-- Status Gizi(index): double (nullable = false)

In [ ]:
df_conv = df.select(
    col("JK(index)").cast("integer").alias("JK_index"),
    col("Usia Saat Ukur (Bulan)").cast("integer").alias("Usia (Bulan)"),
    col("Berat (Kg)").cast("float").alias("Berat (Kg)"),
    col("Tinggi (cm)").cast("float").alias("Tinggi (cm)"),
    col("Status Gizi(index)").cast("integer").alias("Status Gizi_index")
)

df_conv.show()
df_conv.printSchema()

+--------+------------+----------+-----------+-----------------+
|JK_index|Usia (Bulan)|Berat (Kg)|Tinggi (cm)|Status Gizi_index|
+--------+------------+----------+-----------+-----------------+
|       0|          54|      17.0|      107.0|                0|
|       1|           7|       8.2|       68.4|                0|
|       1|          38|      13.8|       96.5|                0|
|       0|          17|      11.0|       82.0|                0|
|       0|          13|      11.0|       80.0|                0|
|       1|          40|      14.3|       98.8|                0|
|       1|          37|      14.9|       95.0|                0|
|       0|          31|      12.8|      100.0|                1|
|       1|          28|      11.5|       91.2|                0|
|       1|          18|       9.0|       78.0|                0|
|       1|           2|       5.9|       60.0|                0|
|       1|          47|      12.6|       94.2|                0|
|       1|          21|      12.0|       83.7|                2|
|       0|          42|      17.0|      100.2|                2|
|       0|           2|       6.0|       61.5|                0|
|       0|          17|      10.0|       82.2|                0|
|       0|          29|      12.0|       87.0|                0|
|       0|          45|      12.6|      100.2|                1|
|       0|          48|      15.5|      104.2|                0|
|       1|          43|      14.7|       98.0|                0|
+--------+------------+----------+-----------+-----------------+
only showing top 20 rows

root
 |-- JK_index: integer (nullable = true)
 |-- Usia (Bulan): integer (nullable = true)
 |-- Berat (Kg): float (nullable = true)
 |-- Tinggi (cm): float (nullable = true)
 |-- Status Gizi_index: integer (nullable = true)

In [ ]:
# Selecting relevant features
selected_features = ["JK_index", "Usia (Bulan)", "Berat (Kg)", "Tinggi (cm)", "Status Gizi_index"]

# Assemble features into a vector
assembler = VectorAssembler(inputCols=selected_features, outputCol="features")
df_vectorized = assembler.transform(df_conv.select(selected_features))

In [ ]:
# Calculate Pearson correlation matrix
pearson_corr_matrix = Correlation.corr(df_vectorized, "features", method="pearson").head()

pearson_corr_matrix

Row(pearson(features)=DenseMatrix(5, 5, [1.0, 0.0204, -0.0271, -0.0262, 0.0243, 0.0204, 1.0, 0.9172, ..., 0.9514, 1.0, -0.1264, 0.0243, -0.111, -0.0906, -0.1264, 1.0], False))

In [ ]:
# Extract the correlation matrix as a DenseMatrix
corr_values = pearson_corr_matrix[0].toArray()
corr_values

array([[ 1.        ,  0.02035663, -0.02714618, -0.0261888 ,  0.02431788],
       [ 0.02035663,  1.        ,  0.91724481,  0.94593998, -0.11097328],
       [-0.02714618,  0.91724481,  1.        ,  0.95136485, -0.09061932],
       [-0.0261888 ,  0.94593998,  0.95136485,  1.        , -0.12644734],
       [ 0.02431788, -0.11097328, -0.09061932, -0.12644734,  1.        ]])

## **Modelling**

In [ ]:
df_conv.show()

+--------+------------+----------+-----------+-----------------+
|JK_index|Usia (Bulan)|Berat (Kg)|Tinggi (cm)|Status Gizi_index|
+--------+------------+----------+-----------+-----------------+
|       0|          54|      17.0|      107.0|                0|
|       1|           7|       8.2|       68.4|                0|
|       1|          38|      13.8|       96.5|                0|
|       0|          17|      11.0|       82.0|                0|
|       0|          13|      11.0|       80.0|                0|
|       1|          40|      14.3|       98.8|                0|
|       1|          37|      14.9|       95.0|                0|
|       0|          31|      12.8|      100.0|                1|
|       1|          28|      11.5|       91.2|                0|
|       1|          18|       9.0|       78.0|                0|
|       1|           2|       5.9|       60.0|                0|
|       1|          47|      12.6|       94.2|                0|
|       1|          21|      12.0|       83.7|                2|
|       0|          42|      17.0|      100.2|                2|
|       0|           2|       6.0|       61.5|                0|
|       0|          17|      10.0|       82.2|                0|
|       0|          29|      12.0|       87.0|                0|
|       0|          45|      12.6|      100.2|                1|
|       0|          48|      15.5|      104.2|                0|
|       1|          43|      14.7|       98.0|                0|
+--------+------------+----------+-----------+-----------------+
only showing top 20 rows

In [ ]:
df_conv.describe()

DataFrame[summary: string, JK_index: string, Usia (Bulan): string, Berat (Kg): string, Tinggi (cm): string, Status Gizi_index: string]

In [ ]:
# Mengubah data ke format yang sesuai untuk MLlib (menggunakan VectorAssembler)
feature_columns = df_conv.columns[:-1]  # Menggunakan semua kolom kecuali kolom label terakhir
assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")
df_conv = assembler.transform(df_conv)

# Mengubah kolom label ke kolom bernama "label"
df_conv = df_conv.withColumnRenamed("Status Gizi_index", "label")

# Menampilkan beberapa baris data setelah transformasi
df_conv.select("features", "label").show()

+--------------------+-----+
|            features|label|
+--------------------+-----+
|[0.0,54.0,17.0,10...|    0|
|[1.0,7.0,8.199999...|    0|
|[1.0,38.0,13.8000...|    0|
|[0.0,17.0,11.0,82.0]|    0|
|[0.0,13.0,11.0,80.0]|    0|
|[1.0,40.0,14.3000...|    0|
|[1.0,37.0,14.8999...|    0|
|[0.0,31.0,12.8000...|    1|
|[1.0,28.0,11.5,91...|    0|
| [1.0,18.0,9.0,78.0]|    0|
|[1.0,2.0,5.900000...|    0|
|[1.0,47.0,12.6000...|    0|
|[1.0,21.0,12.0,83...|    2|
|[0.0,42.0,17.0,10...|    2|
|  [0.0,2.0,6.0,61.5]|    0|
|[0.0,17.0,10.0,82...|    0|
|[0.0,29.0,12.0,87.0]|    0|
|[0.0,45.0,12.6000...|    1|
|[0.0,48.0,15.5,10...|    0|
|[1.0,43.0,14.6999...|    0|
+--------------------+-----+
only showing top 20 rows

In [ ]:
# Membagi data menjadi training (70%) dan test (30%) set
train_data, test_data = df_conv.randomSplit([0.7, 0.3], seed=42)

In [ ]:
# Membuat model Random Forest
rf = RandomForestClassifier(featuresCol="features", labelCol="label",
                            numTrees=10)

# Melatih model
rf_model = rf.fit(train_data)

In [ ]:
# Membuat prediksi pada test data
predictions = rf_model.transform(test_data)

# Menampilkan beberapa prediksi
predictions.select("features", "label", "prediction").show(5)

# Mengevaluasi model
evaluator = MulticlassClassificationEvaluator(labelCol="label",
                                              predictionCol="prediction",
                                              metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print(f"Accuracy: {accuracy}")

+--------------------+-----+----------+
|            features|label|prediction|
+--------------------+-----+----------+
|  [0.0,0.0,2.5,49.0]|    1|       0.0|
|[0.0,0.0,2.900000...|    0|       0.0|
|  [0.0,0.0,3.0,50.0]|    0|       0.0|
|[0.0,0.0,3.099999...|    0|       0.0|
|[0.0,0.0,3.400000...|    0|       0.0|
+--------------------+-----+----------+
only showing top 5 rows

Accuracy: 0.8913690476190477